name: Docker Image CI Muti Platform Prod

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
        type: choice
        options:
          - info
          - warning
          - debug

env:
  APP_NAME: janus-webrtc-gateway-docker
  DOCKERHUB_REPO: sucwangsr/janus-webrtc-gateway-docker

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4.2.2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.HUB_USER }}
          password: ${{ secrets.HUB_PWD }}
      - 
        name: Generate App Version
        run: echo APP_VERSION=1.4.0-muti >> $GITHUB_ENV
      -
        name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          platforms: |
            linux/amd64
            linux/arm/v7
            linux/arm64/v8
            linux/arm64
            linux/ppc64le
            linux/s390x
          push: true
          build-args: |
            APP_NAME=${{ env.APP_NAME }}
            APP_VERSION=${{ env.APP_VERSION }}
          tags: |
            ${{ env.DOCKERHUB_REPO }}:latest
            ${{ env.DOCKERHUB_REPO }}:${{ env.APP_VERSION }}
